@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: bg-white;
    --foreground: bg-black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, sans-serif;
}
/* Add this to your global CSS */
.building-code-no-scroll {
  height: 100vh;
  overflow: hidden;
}

.building-code-no-scroll html,
.building-code-no-scroll body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
